<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="free.yhc.netmbuddy">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.GET_TASKS"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_PROVIDER"/>

    <application
        android:icon="@drawable/app_icon"
        android:label="@string/app_name"
        android:allowBackup="true"
        android:name=".YTMPApp"
        >
        <activity
            android:name=".YTMPActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:theme="@android:style/Theme.NoTitleBar"
            android:launchMode="singleTop"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
	            <action android:name="android.intent.action.VIEW" />
	            <category android:name="android.intent.category.DEFAULT" />
	            <category android:name="android.intent.category.BROWSABLE" />
	            <data android:scheme="http"
	                  android:host="*youtube.com"/>
	            <data android:scheme="https"
	                  android:host="*youtube.com"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".PlaylistActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:theme="@android:style/Theme.NoTitleBar"
            android:launchMode="singleTop"
            android:exported="false"
            >
            <meta-data
                android:name="android.app.default_searchable"
                android:value=".PlaylistActivity" />
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable_keyword"/>
        </activity>
        <activity
            android:name=".MusicsActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:theme="@android:style/Theme.NoTitleBar"
            android:launchMode="singleTop"
            android:exported="false"
            />
        <activity
            android:name=".YTVideoSearchKeywordActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:theme="@android:style/Theme.NoTitleBar"
            android:launchMode="singleTop"
            android:exported="false"
            >
            <meta-data
                android:name="android.app.default_searchable"
                android:value=".YTVideoSearchKeywordActivity" />
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable_keyword"/>
        </activity>
        <activity
            android:name=".YTVideoSearchChannelActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:theme="@android:style/Theme.NoTitleBar"
            android:launchMode="singleTop"
            android:exported="false"
            >
            <meta-data
                android:name="android.app.default_searchable"
                android:value=".YTVideoSearchChannelActivity" />
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable_user"/>
        </activity>
        <activity
            android:name=".YTMPPreferenceActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:theme="@android:style/Theme.NoTitleBar"
            android:exported="false"
            />
        <activity
            android:name=".VideoPlayerActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:theme="@android:style/Theme.NoTitleBar"
            android:exported="false"
            />
        <activity
            android:name=".LockScreenActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:theme="@android:style/Theme.NoTitleBar"
            android:exported="false"
            />
        <activity
            android:name=".ImportShareActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:theme="@android:style/Theme.Dialog"
            android:launchMode="singleTop"
            android:exported="false"
            />
        <!--
        Why complex and stupid path pattern is used for 'ImportShareContentActivity'
          and 'ImportShareFileActivity' ?
        It's due to Android's pattern matcher's algorithm that is different from other matcher.
        (Actually, I think it is definitely BUG!).
        In general, matcher uses greedy matching algorithm.
        But, Android Matcher doesn't use greedy algorithm - even NOT CORRECT.
        If there is 'next character' of '.*' pattern in the middle of string,
          Android PatternMatcher stops loop at that point.

        Ex.
            string  : "this is a my attachment"
            pattern : ".*att.*".
            Android PatternMatcher enter loop to match '.*' pattern until meet the next character of pattern
            (at this example, 'a')
            So, '.*' matching loop stops at index 8 - 'a' between 'is' and 'my'.
            Therefore result of this match returns 'false'.

        To avoid this - actually reduce possibility - below duplicating complex pattern is used.
        See 'PatternMatcher.java' at Android Framework.
        -->
        <activity
            android:name=".ImportShareContentActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:theme="@android:style/Theme.Dialog"
            android:exported="true"
            >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="multipart/*" />
                <data android:mimeType="message/*" />
                <data android:mimeType="application/zip" />
                <data android:mimeType="application/octet-stream" />
                <data android:host="*" />
                <data android:scheme="content" />
                <data android:pathPattern=".*attachment.*" />
                <data android:pathPattern=".*a.*attachment.*" />
                <data android:pathPattern=".*a.*a.*attachment.*" />
                <data android:pathPattern=".*a.*a.*attachment.*" />
                <data android:pathPattern=".*a.*a.*a.*attachment.*" />
                <data android:pathPattern=".*a.*a.*a.*a.*attachment.*" />
                <data android:pathPattern=".*a.*a.*a.*a.*a.*attachment.*" />
                <data android:pathPattern=".*a.*a.*a.*a.*a.*a.*attachment.*" />
                <data android:pathPattern=".*a.*a.*a.*a.*a.*a.*a.*attachment.*" />
                <data android:pathPattern=".*a.*a.*a.*a.*a.*a.*a.*a.*attachment.*" />
                <data android:pathPattern=".*a.*a.*a.*a.*a.*a.*a.*a.*a.*attachment.*" />
                <data android:pathPattern=".*a.*a.*a.*a.*a.*a.*a.*a.*a.*a.*attachment.*" />
                <data android:pathPattern=".*a.*a.*a.*a.*a.*a.*a.*a.*a.*a.*a.*attachment.*" />
                <data android:pathPattern=".*a.*a.*a.*a.*a.*a.*a.*a.*a.*a.*a.*a.*attachment.*" />
                <data android:pathPattern=".*a.*a.*a.*a.*a.*a.*a.*a.*a.*a.*a.*a.*a.*attachment.*" />
                <data android:pathPattern=".*a.*a.*a.*a.*a.*a.*a.*a.*a.*a.*a.*a.*a.*a.*attachment.*" />
                <data android:pathPattern=".*a.*a.*a.*a.*a.*a.*a.*a.*a.*a.*a.*a.*a.*a.*a.*attachment.*" />
                <data android:pathPattern=".*a.*a.*a.*a.*a.*a.*a.*a.*a.*a.*a.*a.*a.*a.*a.*a.*attachment.*" />
                <data android:pathPattern=".*a.*a.*a.*a.*a.*a.*a.*a.*a.*a.*a.*a.*a.*a.*a.*a.*attachment.*" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ImportShareFileActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:theme="@android:style/Theme.Dialog"
            android:exported="true"
            >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="*/*" />
                <data android:host="*" />
                <data android:scheme="file" />
                <data android:pathPattern=".*\\.netmbuddy" />
                <data android:pathPattern=".*\\..*\\.netmbuddy"/>
                <data android:pathPattern=".*\\..*\\..*\\.netmbuddy"/>
                <data android:pathPattern=".*\\..*\\..*\\..*\\.netmbuddy"/>
            </intent-filter>
        </activity>
        <service android:name=".core.YTPlayerLifeSupportService"
                 android:exported="false"
                 />
        <receiver
            android:name=".core.YTPlayer$TelephonyMonitor"
            >
            <intent-filter>
                <action android:name="android.intent.action.PHONE_STATE" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".core.YTPlayer$NetworkMonitor"
            >
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".core.NotiManager$NotiIntentReceiver"
            >
            <intent-filter>
                <action android:name="ytmplayer.intent.action.NOTIFICATION_DELETE" />
                <action android:name="ytmplayer.intent.action.NOTIFICATION_ACTION" />
                <action android:name="ytmplayer.intent.action.NOTIFICATION_STOP_PLAYER" />
            </intent-filter>
        </receiver>
        <provider
            android:name=".core.SearchSuggestionProvider"
            android:authorities="free.yhc.netmbuddy"
            />
    </application>
</manifest>
